{
  'extends': '@takram/planck',
  'env': {
    'browser': true,
  },
  'globals': {
    'afterEach': true,
    'beforeEach': true,
    'describe': true,
    'expect': true,
    'it': true,
  },
  'rules': {
    'no-unused-expressions': 0,
  },
}
